body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-image: url(./img/hero.jpeg);
}


.hero {
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    display: block;
    padding-bottom: 40px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    margin-top: 200px;
}

.modal-btn {
    width: 100px;
    background-color: skyblue;
    margin-top: 35px;
    border-radius: 10px;
    color: white;
    padding: 4px
}

.modal-overlay {
    max-width: 500px;
    box-sizing: border-box;
    border-top: 7px solid skyblue;
    border-bottom: 7px solid skyblue;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    background: rgba(57, 124, 226, 0.562);
    display: none;
}
.modal-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}


h3 {
    margin: auto;
    margin-top: 80px;
    font-size: 1.5rem;
}

.close-btn {
    font-size: 2rem;
    border-color: transparent;
    background-color: transparent;
    color: brown;
}

.open-modal {
    display: block;
}

.open-modal .hero {
    display: none;
}